<h2>Login</h2>

<div class="comment-form">
<form class="prompt-form pure-form" method="post" action="/login">
  <fieldset class=".pure-group">
  <input type='text' name='user[username]' placeholder='Username'>
  <input type='password' name='user[password]' placeholder='Password'>
  </fieldset>
  <br>
  <button class="create-link" type="submit">Login</button>
</form>
</div>
