<h2>Login</h2>

<form method="post" action="/login">
  <input type='text' name='user[username]' placeholder='Username'>
  <input type='password' name='user[password]' placeholder='Password'>
  <input type="submit" value="Login">
</form>
