<h3>Prompt: <%= @prompt.title %></h3>

<div class="short-form">
<h4>Write a Short:</h4>

	<form class="create-form" action="/prompts/<%= @prompt.id %>/shorts" method="POST">
	  <textarea class="short-form-textarea" name="short[body]" rows="10" placeholder="Body"></textarea>
	  <input type="hidden" name="short[creator_id]" value="<%= @user.id %>">
	  <input type="hidden" name="short[prompt_id]" value="<%= @prompt.id %>">
	  <button class="short-new-button" type="submit">Create</button>
	</form>
</div>
