<h3><%= @short.prompt %></h3>

<div class="short-details">
<p><%= @short.body %></p>
<p>written by <%= @short.creator %></p>
</div>

<form class="delete" action="/shorts/<%= @short.id %>" method="POST">
  <input type="hidden" name="_method" value="Delete">
  <button type="submit">Delete</button>
</form>
