<a class="create-link" href="/prompts/new">Add a new prompt </a>
<br>
<% @prompts.each do |prompt| %>
  <div class="prompt-container">
	  <a class="prompt-link" href="/prompts/<%= prompt.id %>"><%= prompt.title %></a><br>
	</div>
<% end %>


