<form class="prompt-form pure-form" action="/prompts" method="POST">
  <fieldset class=".pure-group">
  <input class="pure-u-1" type="text" name="prompt[title]" placeholder="Title">
  <br>
  <textarea class="pure-u-1" name="prompt[optional]" placeholder="Optional: add additional instructions" id=""></textarea>
  <input type="hidden" name="prompt[creator_id]" value="<%= @user.id %>">
  <br>
  </fieldset>
  <button class="pure-button pure-input-1-2 pure-button-primary" type="submit">Post Prompt</button>
</form>
