.edit-account {
  margin-top: 15em;
  text-align: center;
}

.hey {
  margin-top: 1.5em;
  height: 80px;
  font-size: 65px
}

.user-prompts {
  height: 70px;
  font-size: 20px
}

.user-shorts {
  height: 70px;
  font-size: 20px
}

a:hover {
    color: orange;
}

.prompt-link, .short-link {
  color: #000000;
}
