body {
  width: 75%;
  margin: auto;
}

footer {
  padding-top: 20px;
}

.all-prompts {
  margin: 20px 0px 0px 0px;
  border-bottom: 0.5px solid black;
}

.prompt-snippet {
  height: 80px;
  text-align: center;
  border-top: 1px black solid;
  line-height: 80px;
}

.votes-shorts {
  float: left;
  display: inline-block;
  margin-left: 15px;
  height: 40px;
  padding: 20px 0px;
  line-height: 20px;
}

.vs-text {
  font-size: 10px;
}

.creator {
  float: right;
  font-size: 12px;
}

.prompt-link {
  text-decoration: none;
  font-weight: 800;
  color: black;
}

.prompt-link:hover {
  color: orange;
}


.prompt-form {
  margin: 40px auto;
}

textarea {
  height: 150px;
}

.create-link {
  border: 0.5px solid gray;
  background-color: orange;
  color: black;
  padding: 5px;
  border-radius: 5px;
  margin: 20px 0px;
}

.create-link:hover {
  background-color: gray;
  color: white;
}

.vote-buttons {
  display: inline-block;
  height: 115px;
  border: 1px solid black;
  float: left;

}

.upvote, .downvote {
  background-color: transparent;
  border: none;
  font-size: 30px;
  margin: 0px auto;
  text-align: center;
}

.prompt-title {
  display: inline-block;
  border: 1px solid black;
  margin: 0px;
}

.prompt-container {
  margin-bottom: 25px;
  height: 150px;
  text-align: center;
}

.created {
  float: right;
  bottom: 0;
}

.instructions {
  display: inline-block;
  margin: 20px 0px;
}

.link-container {
  margin-top: 25px;
  margin-bottom: 40px;
}

.all-shorts {
  padding: 25px 0px;
  margin: 20px 0px;
}














