.all-prompts {
  margin: 20px 0px 0px 0px;
  border-bottom: 0.5px solid black;
}

.prompt-snippet {
  height: 80px;
  text-align: center;
  border-top: 1px black solid;
  line-height: 80px;
}

.votes-shorts {
  float: left;
  display: inline-block;
  margin-left: 15px;
  height: 40px;
  padding: 20px 0px;
  line-height: 20px;
}

.vs-text {
  font-size: 10px;
}

.creator {
  float: right;
  font-size: 12px;
}

.prompt-link, .short-link {
  text-decoration: none;
  font-weight: 800;
  color: black;
}

.prompt-link:hover, .short-link:hover {
  color: orange;
}

.prompt-form {
  margin: 40px auto;
}

textarea {
  height: 150px;
}

.create-link {
  border: 0.5px solid gray;
  background-color: orange;
  color: black;
  padding: 5px;
  border-radius: 5px;
  margin: 20px 0px;
}

.create-link:hover {
  background-color: gray;
  color: white;
}

.vote-buttons {
  display: inline-block;
  height: 115px;  float: left;
}

.upvote, .downvote {
  background-color: transparent;
  border: none;
  font-size: 25px;
  margin: 0px auto;
  text-align: center;
}

.upvote:hover {
  color: green;
}

.downvote:hover {
  color: red;
}

.prompt-title {
  display: inline-block;
  width: 80%;
  margin: 0px;
  font-size: 1.5em;
  margin-top: 30px
}

.prompt-container {
  margin-bottom: 25px;
  height: 150px;
  text-align: center;
  margin-top: 50px;
}

.created {
  display: block;
  margin: 20px auto 0px auto;
}

.instructions {
  display: block;
  margin: 20px 0px;
  background-color: #F5F5F5;
  padding: 10px;
}

.link-container {
  margin-top: 25px;
  margin-bottom: 40px;
}

.all-shorts {
  padding: 25px 0px;
  margin: 20px 0px;
}

.main-page {
  margin-top: 50px;
}

.short-container{
  border-top: 0.5px solid black;
  padding: 20px;
  margin-top: 20px;
}

.short-body-show {
  margin-left: 35px
}

.push-20 {
  margin-top: 20px
}

.delete {
/*  display: inline;*/
  background-color: gray;
  float: right;
}

.push-left-10 {
  margin-left: 10px
}









