<h2>Register an account and start a SnapShort!</h2>

<%= erb :_errors, locals: {errors: @errors} %>

<form class="create-form" method="post" action="/users">
  <input type="text" name="user[username]" placeholder="Create a Username">
  <input type="email" name="user[email]" placeholder="Email: email@example.com">
  <input type="password" name="user[password]" placeholder="Create Password">
  <input type="submit" value="Register">
</form>
