<h2>Register an account and start a SnapShort!</h2>

<%= erb :_errors, locals: {errors: @errors} %>

<div class="comment-form">
<form class="prompt-form pure-form" method="post" action="/users">
  <fieldset class=".pure-group">
  <input type="text" name="user[username]" placeholder="Create a Username">
  <input type="email" name="user[email]" placeholder="Email: email@example.com">
  <input type="password" name="user[password]" placeholder="Create Password">
  </fieldset>
  <br>
  <button class="create-link" type="submit">Register</button>
</div>
