<h2>Register an account and start a SnapShort!</h2>

<%= erb :_errors, locals: {errors: @errors} %>

<form method="post" action="/users">
  <input type="text" name="username" placeholder="Create a Username">
  <input type="email" name="email" placeholder="Email: email@example.com">
  <input type="email" name="email" placeholder="Create Password">
  <input type="submit" value="Register">
</form>
