<!DOCTYPE html>
<html lang="en">
<head>

  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/kevin.css">
  <link rel="stylesheet" href="/css/davidcss-shorts/david.css">
  <link rel="stylesheet" href="/css/emily.css">
   <link rel="stylesheet" href="/css/emily_users.css">
  <link rel="stylesheet" href="/css/logo.css">



  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <script src="/js/david.js"></script>

  <script src="/js/kevin.js"></script>


  <title>SnapShort</title>
</head>
<body>

  <header>
    <div class="logo-title">
    <img class="logo" src="/images/snapshort_logo.png" alt="SnapShort">
    <a href='/' class="main-title">SnapShort</a>
  </div>
    <nav>
      <% if logged_in? %>
        <a class="main-link" href="/users/<%= session[:id] %>"><%= current_user.username.upcase %></a>
        <a class="main-link" href="/logout">LOGOUT</a>
      <% else %>
        <a class="main-link" href="/login">LOGIN</a>
        <a class="main-link" href="/users/new">REGISTER</a>
      <% end %>
        <a class="main-link" href="/about">ABOUT</a>
    </nav>
  </header>
  <% if !logged_in? %>
  <div class="welcome-message">
    <br>
    <h2>Welcome</h2>
    <p>This is the welcome message, here is will we will describe thingzzz</p>
    <br>
  </div>
  <% end %>
  <%= yield %>
  <footer>
    <span class="orange">&#169;</span> Copyright 2016 |
    Emily Osowski, David Lange, Kevin Perkins
  </footer>
</body>
</html>
